body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#c8cace;
    font-family:Arial;
}

.game-container{
    width:520px;
    background:rgb(247, 225, 168);
    border-radius:14px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.topbar{
    width:94%;
    height:45px;
    background:linear-gradient(#d08c04,#ffd139);
    border-radius:14px 14px 0 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 15px;
    color:white;
}

.icons{
    display:flex;
    gap:6px;
}

.circle{
    width:12px;
    height:12px;
    background:white;
    border-radius:50%;
}

.info{
    width:90%;
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}

.emoji{
    margin:15px 0;
}

.reset-button{
    width:60px;
    height:60px;
    background:#f3f3f3;
    border-radius:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}

.field{
    margin-bottom:20px;
}

.row{
    display:flex;
}

.cell{
    width:55px;
    height:55px;
    margin:3px;
    border-radius:8px;
    background:linear-gradient(#de8304,#f4b94a);
    border:2px solid #8a8a8a;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    cursor:pointer;
    transition:0.2s;
}

button.cell{
    -webkit-appearance:none;
    appearance:none;
    padding:0;
    background-clip:padding-box;
}

.cell:not(.adjacent-mine-1):not(.adjacent-mine-2):not(.flag):hover{
    background:linear-gradient(#c89600,#ffbe45);
}

.adjacent-mine-1{
    background:white;
    color:blue;
}

.adjacent-mine-2{
    background:white;
    color:green;
}

.flag{
    display:flex;
    align-items:center;
    justify-content:center;
    user-select:none;
    background:white;
    font-size:30px;
}